/* ADD QUERY TO RESIZE WRAPPER */

/*@media*/

p {
    margin: 0 auto;
    text-align: center;
    font-size: 1em;
    align-content: center;
    position: relative;
    justify-content: center;
}

#wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    height: auto;
    align-items: center;
    justify-content: center;
    position: relative;
   
}

.image {
    display: inline-block;
    margin: 3px;
    width: 50%;
    position: relative;
    /*flex-wrap: wrap;*/
}

img {
    width: 45%;
}