#wrapper {
    display: flex;
    background-color: thistle;
    margin: 0 auto;
    width: 95%;
    height: 900px;
    max-width: 700px;
    justify-content: center;
    align-content: center;

}

.menuitem {
    margin: 10px;
    background-color: white;
    font-size: 1.5em;
    flex-wrap: wrap;
    display: flex;
}

