* {
margin: 0px;
padding: 0px;
background-color: black;
}

#body-all {
    width: 100%;
}

/* DIAMOND HTML ELEMENTS */

#diamond-1 {
    position: absolute;
    top: 11%;
    left: 1%;  
}

#diamond-2 {
    position: absolute;
    top: 22%;
    left: 51%;  
}

#diamond-3 {
    position: absolute;
    top: 35%;
    left: 31%;  
}

#diamond-4 {
    position: absolute;
    top: 58%;
    left: 20%;  
}

#diamond-5 {
    position: absolute;
    top: 70%;
    left: 61%;  
}

#diamond-6 {
    position: absolute;
    top: 91%;
    left: 11%;  
}

/* DIAMOND GIF ELEMENTS */
#diamond-1-gif {
    width: 120px;
}

#diamond-2-gif {
    width: 120px;
}

#diamond-3-gif {
    width: 120px;
}

#diamond-4-gif {
    width: 120px;
}

#diamond-5-gif {
    width: 120px;
}

#diamond-6-gif {
    width: 120px;
}

/* TITLES */

#title-1 {
    position: absolute;
    font-family: 'Istok Web', sans-serif;
    font-size: 25px;
    font-weight: 800;
    border: 2px solid whitesmoke;
    color: whitesmoke;
    padding: 2px;
    top: 2%;
    right: 15%;
}